<h3>CATALOGO LIBRI</h3>
<div *ngIf="isEmptyList;else bookListTemplate" class="container-catalogue-empty-list">
    Non è stato possibile recuperare la lista dei libri
</div>

<ng-template #bookListTemplate>
    <table>
        <div>
            <tr>
              <th>titolo</th>
              <th>trama</th>
              <th>pagine</th>
              <th>datapubblicazione</th>
            </tr>
            
        </div>
      </table>
    <div *ngFor="let book of bookList">
        <tr>
            <td>{{book.titolo}}</td>
            <td>{{book.trama}}</td>
            <td>{{book.pagine}}</td>
            <td>{{book.datapubblicazione}}</td>
            <td><button (click)="updateBook(book.id)">MODIFICA</button></td>
            <td><button (click)="deleteBook(book.id)">ELIMINA</button></td>
        </tr>
        
    </div>
</ng-template>