    .container-catalogo-libri-empty-list {
        font-size: 24px;
        font-weight: 200;
        display: flex;
        justify-content: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 600px;
      }
      
      td, th {
        text-align: left;
        padding: 8px;
        width: 150px;
        min-width: 150px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

      